html{
    box-sizing: border-box;

}

html,
body{
    height: 100%;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    background: #151515;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    
}

.section-title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.header__inner{
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.header-main{
    background: transparent;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
}

.menu__list{
    display: flex;
    gap: 35px;

}

.menu__list_link{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
}

.menu__list_link--active{
    color: #0066FF;
}

.main{
    flex-grow: 1;
    
}

.top{
    color: #FFFFFF;
    text-align: center;
    padding: 250px 0 50px;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.title{
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;

}

.top__link{
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
}

.a1{
    background: url(../pictures/slide1.jpg);
}

.a2{
    background: url(../pictures/car2.jpg);
}

.a3{
    background: url(../pictures/car3.jpg);
}

.a4{
    background: url(../pictures/car4.jpg);
}

.swiper-slide{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background: #151515;
    border-radius: 0;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    height: 6px;
    background: #FFFFFF;
}

.why-lease{
    padding: 150px 0;
}

.why-lease__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    
}

.why-lease__item_img{
    margin-bottom: 30px;
}

.why-lease__item_title{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

// .why-lease__item_text{
//     text-align: left;
// }
.how-does{
    padding-bottom: 150px;
}

.how-does__inner{
    max-width: 600px;
    margin: 0 auto;
}

.how-does__title{
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;

}

.how-does__list{
    padding: 50px 0 70px;
    counter-reset: myCounter;
}

.how-does__item{
    width: 270px;
    position: relative;
    margin-left: auto;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-height: 63px;
}

.how-does__item + .how-does__item{
    margin-top: 40px;
}

.how-does__item::before{
    counter-increment: myCounter;
    content:counter(myCounter) ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066FF;
    font-size: 48px;
    font-weight: 700;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
}

.video{
    padding-bottom: 150px;
}

.video__title{
    margin-bottom: 20px;
}

.video__text{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.video-screen{
    display: block;
    margin: 0 auto;
}

.important{
    padding-bottom: 150px;
}

.important__title{
    margin-bottom: 20px;
}

.important__text{
    max-width: 580px;
    margin: 0 auto 50px;
}

.important__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.important__item_img{
    margin-bottom: 20px;
}

.footer{
    background: #151515;
    color: #FFFFFF;
    padding: 50px 0 32px;
}

.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}

.footer__menu_title{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;

}

.footer__menu_item + .footer__menu_item{
    padding-top: 20px;
}

.app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}

.footer__copy{
    max-width: 806px;
    text-align: center;
    margin: 0 auto 30px;
    font-size: 12px;
}

.copy__nav_list{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.contacts{
    padding: 100px 0 150px;
}

.contacts__title{
    margin-bottom: 20px;
}

.contacts__text{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 50px;
    padding: 0 100px;
}

.form{
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input{
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid #0066FF;
    margin-bottom: 50px;

}

.form__textarea{
    width: 100%;
    resize: none;
    padding: 28px 20px;
    height: 290px;
    border: 1px solid #0066FF;
    margin-bottom: 50px;
}

.form__btn{
    text-transform: uppercase;
    color: #FFFFFF;
    background: #151515;
    margin: 0 auto;
    padding: 13px 61px;
    border: none;
}

.blog{
    padding-bottom: 150px;
}

.blog__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 120px;
}

.blog__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item_img{
    margin-bottom: 30px;
    width: 100%;
    
}

.blog__item_title{
    flex-basis: 446px;
    font-size: 22px;
    font-weight: 700;
}

.blog__item_link{
    color: #FFFFFF;
    background: #0066FF;
    padding: 4px 20px;
}

.btn__link{
    background: #151515;
    padding: 13px;
    color: #FFFFFF;
    width: 225px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.choose{
    padding: 100px 0 150px;
}

.tabs__btn{
    padding: 0 150px 100px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.tabs__btn_item{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}

.tabs__btn_item--active{
    color: #0066FF;
}

.tabs__content_item{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
    margin-bottom: 50px;
}

.tabs__content_item.tabs__content_item--active{
    display: grid;
}

.card{
    text-align: center;
}

.card__content{
    padding: 0 5px;
    border: 1px solid #0066FF;
    border-top: 0;
}

.card__img{
    display: block;
}

.card__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card__text{
    margin-bottom: 20px;
}

.card__price{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.card__link{
    display: block;
    color: #0066FF;
    border: 1px solid #0066FF;
    border-top: 0;
}
.menu__btn{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background: transparent;
    display: none;
    cursor: pointer;
    span{
        height: 2px;
        background: #FFFFFF;
        width: 100%;
    }
}

.card__img{
    width: 100%;
}

.map__item{
    color: #0066FF;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;

}

ul.breadcrumb li {
    display: inline;
    font-size: 10px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(141, 96, 96);
    content: "/\00a0";
}

@media (max-width: 1180px){
    .important__list{
        gap: 30px 20px;
    }
    .important__item_img{
        width: 100%;
    }
    .tabs__content_item{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1050px){
    .video-screen{
        width: 100%;
    }
    .tabs__btn{
        padding: 0 0 50px;
        gap: 20px;
    }
}

@media (max-width: 860px){
    .menu__btn{
        display: flex;
    }
    .menu__btn,
    .logo{
        position: relative;
        z-index: 5;
    }
    .menu__list{
        position: absolute;
        z-index: 4;
        background: #151515;
        flex-direction: column;
        padding-top: 200px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        height: 100vh;
        transform: translateY(-100%);
        transition: transform .3s ease;
    }
    .menu__list.menu__list--active{
        transform: translateY(0%);
    }
    .why-lease__list{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .important__list{
        grid-template-columns: repeat(2, 1fr);
    }
    .tabs__content_item{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 770px){
    .title{
        font-size: 70px;
    }
    .top__link{
        padding: 16px;
        max-width: 360px;
        font-size: 28px;
    }
    .swiper-pagination-bullet{
        width: 60px;
    }
    .swiper-pagination-bullet-active{
        height: 4px;
    }
    .video-screen{
        height: 400px;
    }
    .footer__menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 650px){
    .tabs__content_item{
        grid-template-columns: repeat(1, 1fr);
    }
    .tabs__btn_item{
        font-size: 18px;
    }
    .blog__items{
        grid-template-columns: repeat(1, 1fr);
    }
    .contacts{
        padding: 50px 0;
    }
    .form__input{
        width: 100%;
        margin-bottom: 30px;
    }
    .contacts__text{
        padding: 0;
    }

}

@media (max-width:540px){
    .title{
        font-size: 60px;
    }
    .top__link{
        max-width: 310px;
        font-size: 24px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullet{
        margin: 0 10px;
    }
    .swiper-pagination-bullet{
        width: 35px;
    }
    .why-lease__list{
        grid-template-columns: repeat(1,1fr);
    }
    .why-lease{
        padding: 50px 0;
    }
    .section-title{
        font-size: 34px;
    }
    .how-does__list{
        padding: 30px 0 40px;
    }
    .how-does{
        padding-bottom: 50px;
    }
    .how-does__item{
        padding: 65px 0 19px 0;
        margin-right: auto;
    }
    .how-does__item::before{
        right: 0;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        font-size: 32px;
    }
    .video{
        padding-bottom: 50px;
    }
    .video-screen{
        height: 200px;
    }
    .important__list{
        grid-template-columns: repeat(1, 1fr);
    }
    .app,
    .copy__nav_list{
        flex-direction: column;
        align-items: center;
    }
    .copy__nav_list{
        gap: 20px;
    }
    .blog__item_title{
        margin-bottom: 10px;
    }
    .blog__item_link{
        margin-left: auto;

    }
    .tabs__btn{
        flex-direction: column;
    }
    .choose{
        padding: 50px 0;
    }
    .tabs__content_item{
        gap: 40px;
    }
}
