html,
body {
    height: 100%;
}
h1{
    text-align: center;
}
img{
    float: left; 
    margin: 0px 15px 0px 0px; 
}
.main{
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 1fr 50px;
}
.header{
    grid-column: 1/3;
    grid-row: 1;
    background-color: aquamarine; 
    font-size: 18px; 
    padding: 10px; 
    text-align: center;
}
.menu{
    grid-column: 1;
    padding: 15px; 
    background: yellow;
}
.content{
    padding: 10px;
    background: url(../pictures/boll.png) right repeat-y;
}


.footer{
    grid-column: 1/3;
    background-color: aquamarine;
    font-size: 18px; 
    padding: 15px; 
    text-align: center;
}

.club{
    position: fixed; 
    right: 25px;
    top: 25px;
    border: solid 1px green;
    width: 90px;
    height: 50px;
    padding: 5px;
    text-align: center;
    background: rgb(64, 202, 64);
}